.bg-subsribe{
    background-color: #fceae8;
}
.btn-clr{
    background-color: #ff3786;
    color: white;
    padding: 10px 15px;
}
.bg-top{
    background-color: whitesmoke;
}
.slider-color{
    background-color: #fceae8;
}